In [62]:
import sqlite3 as sql
import pandas as pd
import matplotlib.pyplot as plt


planets = pd.read_csv("https://raw.githubusercontent.com/ohitsmekatie/dat-229-final-project/main/raw_csv_files/starwars_planets.csv")
# species = pd.read_csv("https://raw.githubusercontent.com/ohitsmekatie/dat-229-final-project/main/raw_csv_files/starwars_species.csv")
# people = pd.read_csv("https://raw.githubusercontent.com/ohitsmekatie/dat-229-final-project/main/raw_csv_files/starwars_people.csv")

dbconn = sql.connect('planets.db')
cursor = dbconn.cursor()


drop_table = '''
    DROP TABLE IF EXISTS planets;
    '''


create_planet_table_sql = '''
    CREATE TABLE IF NOT EXISTS
        planets(
        pid INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        rotation_period INT,
        orbital_period INT,
        diameter INT,
        climate TEXT,
        gravity INT,
        terrain TEXT,
        surface_water INT,
        population INT

    )
'''


cursor.execute(drop_table)

dbconn.commit()
ursor.execute(create_planet_table_sql)
dbconn.commit()
print()
print('The planets table has been created successfully.')

# inserting the planet data into the table 
planets.to_sql('planets', dbconn, if_exists='replace', index = False)
dbconn.commit()

# species.to_sql("species", dbconn, if_exists = "replace", index = False) 
# people.to_sql("people", dbconn, if_exists = "replace", index = False)

Table created or accessed successfully.

/Users/katie/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:2653: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [75]:

planet_query = """
    SELECT * FROM planets;
"""



cursor.execute(planet_query)
records_list = cursor.fetchall()
#print(records_list)
dbconn.commit() 

max_population = pd.read_sql("SELECT name, MAX(population) as population from planets where population <> 'unknown'", dbconn)
print(max_population)

# planet_df = pd.DataFrame(records, columns = ["row_id", "name", "rotation_period", "orbital_period", "diameter", "climate", "gravity", "terrain", "surface_water", "population"])
# planet_df



# planets_all = pd.read_sql('SELECT * FROM planets', dbconn)
# planets_all_clean = planets_all[["name", "rotation_period", "orbital_period", "diameter", "climate", "terrain", "surface_water", "population"]]

#print(planets_all_clean)
# species_all = pd.read_sql("SELECT * FROM species", dbconn)
# species_all_clean = species_all[["name", "classification", "designation", "average_height", "skin_colors", "hair_colors", "eye_colors", "average_lifespan"]]

# people_all = pd.read_sql("SELECT * FROM people", dbconn)
# people_all_clean = people_all[["name", "height", "mass", "hair_color", "skin_color", "eye_color", "birth_year", "gender"]]
# print(species_all)

     name population
0  Bespin    6000000